* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #0a0a0a;
}

.container {
    display: flex;
    width: 100;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3.2rem;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: white;
}

.goal {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        background-color: black;
        width: 400px;
        min-height: 600px;
        padding: 4rem;
        border-radius: 1.5rem;

        .btn {
            margin-left: auto;
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__currency {
        display: flex;
        justify-content: space-between;

        &-option {
            display: flex;
            width: 60px;
            height: 60px;
            border: 1px solid #0C0C0C;
            border-radius: 1.5rem;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: white;
                color: #0C0C0C;
                transition: all .3s;
            }
        }

        &-label {
            font-size: 2rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: black;
        width: 400px;
        height: 400px;
        border-radius: 1.5rem;
        padding: 4rem;
    }


    &__accumulate {
        display: flex;
        justify-content: space-between;
    }

    &__options {
        display: flex;
        justify-content: space-between;
    }

    &__amount {
        width: 170px;
        text-align: center;
        justify-content: center;
    }

    &__progressbar {
        //background-color: rgb(40, 208, 68);
        width: 100%;
        height: 1.5rem;
        border-radius: 1rem;
        border: 1px solid #0C0C0C;
    }

    &__wrapper {
        margin-top: 1rem;
        display: flex;
        color: #CCCCCC;
        justify-content: space-between;
        font-size: 2rem;
        font-family: Helvetica, sans-serif;
    }

}

label {
    font-size: 1.6rem;
    font-family: Arial;
    font-weight: 300;
    color: #CCCCCC;
}

i {
    font-size: 2.4rem;
}

/// BUTTON
.btn {
    width: 160px;
    height: 60px;
    border: .1rem solid rgba(255, 255, 255, 0.600);
    background-color: black;
    font-family: Arial;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 3rem;
    cursor: pointer;
}

.small-btn {
    width: 60px;
    height: 60px;
    border-radius: 1rem;
    border-color: #0C0C0C;
}

.btn:hover {
    background-color: white;
    color: black;
    transition: all 0.3s;
}


/// INPUT 
input {
    width: auto;
    height: 60px;
    background: none;
    border: 1px solid #0C0C0C;
    border-radius: 1rem;
    color: white;
    padding: 0 1.6rem;
    font-size: 2rem;
}

input::placeholder {
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #4C4C4C;
}

input[type="radio"] {
    display: none;
    /* Скрыть стандартные радиокнопки */
}

input[type="radio"]:checked {
    border-color: #007bff;
    /* Цвет рамки при выборе */
}

// Remove arrows/spinner from input value number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/// Progress 
progress {
    width: 300px;
    height: 25px;
    border: 2px solid gray;
}

progress::-webkit-progress-bar {
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
}

progress::-webkit-progress-value {
    background-color: #ceff00;
    border-radius: 1rem;
}

.active {
    border: .3rem solid #ceff00;
    transition: all .1s;
}

.hide {
    display: none;
}