.goal {
    font-family: "Manrope";

    &__list {
        display: grid;
        flex-wrap: wrap;
        gap: 4rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &__inform {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    &__task {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 350px;
        width: 100%;
        border: 2px solid #fcee0a;
        border-radius: 2rem;
        color: #fcee0a;
        padding: 2rem;
        overflow: hidden;
    }

    &__title {
        font-size: 42px;
    }

    &__data {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: space-between;
        height: 150px;
        width: 100%;
        margin: 2rem 0rem 2rem 0rem;
        gap: 2rem;
    }

    &__progress {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 128px;
        font-weight: 700;
        margin: auto;
        position: relative;
        align-items: baseline;
    }

    &__calculate {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 145px;
        width: 100%;
        border: 2px solid #fcee0a;
        border-radius: 1rem;
        background: gray;
        overflow: hidden;
    }

    &__wrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    &__button {
        display: flex;
        border-top: 2px solid;
    }

    &__statistic {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 250px;
        gap: 2rem;

        &-item {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        &-amount {
            font-weight: 600;
        }

        &-name {
            font-weight: 400;
            font-family: "Manrope";
            opacity: .5;
        }

    }

    &__amount {
        height: 70px;
        text-align: center;
        font-size: 2rem;
    }

    /* DIALOG WINDOW WHEN CLICK REMOVE GOAL */
    &__dialog {
        position: absolute;
        background: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 3rem;
        top: 0;
        left: 0;

        &-message {
            font-size: 2rem;
        }

        &-buttons {
            display: flex;
            justify-content: space-between;
        }
    }

    /* ANIMATION */
    .hiden {
        height: 0;
        opacity: 0;
        transition: 0.2s all;
    }

    &__progress,
    .hiden {
        transition: 0.2s all;
    }

    &__inform {
        overflow: hidden;
    }

    &__task:hover &__progress {
        transform: translateY(-50px);
        opacity: 0;
    }

    &__task:hover .hiden {
        transform: translateY(-200px);
        opacity: 1;
    }

}


.lines {
    position: absolute;
}

.hide {
    display: none;
}

span.percent {
    font-size: 42px;
    line-height: 1;
}

span.percent-progress {
    font-size: 42px;
    font-weight: 600;
}